<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Vacation Builder"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Material3.Dark"
        tools:targetApi="31" >
        <receiver
            android:name=".ui.MyReceiver"
            android:enabled="true"
            android:exported="true" />
        <activity
            android:name=".ui.ExcursionDetails"
            android:label="Excursion Details"
            android:parentActivityName=".ui.VacationDetails">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".ui.VacationDetails" />
        </activity>

        <activity
            android:name=".ui.VacationDetails"
            android:exported="false"
            android:label="Vacation Details"
            android:parentActivityName=".ui.VacationList" />
        <activity
            android:name=".ui.VacationList"
            android:exported="false"
            android:label="Vacation List"
            android:parentActivityName=".ui.MainActivity" />
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:label="Home" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>